.sign-up {
    background-image: url(resources/andrew-a-WZUJktEceJU-unsplash.jpg);
    background-position: left bottom -15%;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 300px;
}